.title {
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
}

#start_buttons {
    padding-bottom: 40px;
}

#done_buttons {
    padding-bottom: 40px;
}

.results {
    padding-bottom: 40px;
    font-size: 120px;
    text-align: center;
    font-family: 'Ruslan Display', cursive;
    font-family: 'Quintessential', cursive;
}

#display {
    font-family: 'Ruslan Display', cursive;
    font-family: 'Quintessential', cursive;
    font-size: 120px;
    color: green;
}

button[type ="button"] {
    background-color: yellow;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
}

.text-center {
    font-family: 'Ruslan Display', cursive;
    font-family: 'Quintessential', cursive;
    font-weight: bold;
}

.hidden{
    display: none;
}

.show_display{
    text-align: center;
    display: block;
}

.form-group {
    margin-left: 30%;
    display: block;
    text-align: center;
}

.whole {
    margin: 10%;
    background: rgb(134, 26, 26);
}