.results {
    text-align: center;
}

#display {
    font-family: monospace;
    font-size: 120px;
    color: green;
}

#buttons {
    background-color: yellow;
    border-color: black;
    height: 90px;
    width: 90px;
}