.results {
    text-align: center;
}

#display {
    font-family: garamond;
    font-size: 120px;
    color: green;
}

button[type ="button"] {
    background-color: yellow;
    border-color: black;
    color: black;
    height: 90px;
    width: 90px;
}

.text-center {
    font-family: garamond;
    font-weight: bold;
}

.hidden{
    display: none;
}

.display{
    display: inline;
}

/* .form-check-input {
    display: none;
}

.form-check-label {
    display: none;
}

.form-question {
    display: none;
} */